<configuration>
    <appender name = "STDOUT" class ="ch.qos.logback.core.ConsolwAppender">
        <encoder>
            <pattern>
                %d{hh.mm.ss.SSS}[%thred] %-5level %logger{5} -%msg% %n
            </pattern>
        </encoder>
    </appender>
    <appender name = "FILE" class ="ch.qos.logback.core.FileAppender">
        <file>log/prj.log</file>
        <append>true</append>
        <encoder>
            <pattern>
                %d{hh.mm.ss.SSS}[%thred] %-5level %logger{5} -%msg% %n
            </pattern>
        </encoder>
    </appender>
    <logger name="com.epam" level = "TRACE">
        <appender-ref ref = "STDOUT"/>
        <appender-ref ref = "FILE"/>
    </logger>


    <root level = "INFO">
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>